version: "3.8"

services:
  backend:
    build: ./backend-drf
    restart: always
    env_file:
      - ./backend-drf/.env
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn clickmart_main.wsgi:application
      --bind 0.0.0.0:8000
      --workers 3
      --timeout 180
      "
    expose:
      - "8000"

  frontend:
    build:
      context: ./frontend
      args:
        VITE_SERVER_BASE_URL: http://nginx/api
    restart: always
    depends_on:
      - backend

  nginx:
  image: nginx:alpine
  ports:
    - "80:80"
  volumes:
    - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    - ./backend-drf/static:/static
  depends_on:
    - backend
    - frontend

volumes:
  postgres_data:
