version: "3.8"

services:
  backend:
    build: ./backend-drf
    container_name: clickmart-backend
    restart: always
    env_file:
      - ./backend-drf/.env
    volumes:
      - backend-static:/app/staticfiles
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn clickmart_main.wsgi:application
      --bind 0.0.0.0:8000
      --workers 3
      --timeout 180
      "
    expose:
      - "8000"

  nginx:
    build:
      context: ./frontend
      args:
        VITE_SERVER_BASE_URL: /api/v1
    container_name: clickmart-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - backend-static:/staticfiles
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend

volumes:
  backend-static:
